body {
    font-family: arial;
    padding: 0;
    margin: 0;
    background: #eeeeee;
}

.fix_row2 { /* "." обозначается класс */
    padding-left: 5%;
    position: fixed;
    height: 330px;
    width: 100%;
    line-height: 4vh;
    font-size: 100%;
    box-shadow: 0 10px 40px 10px #464646;
    z-index: 2;
}

.fix_row { /* "." обозначается класс */
    background: #eeeeee;
    padding-left: 5%;
    position: fixed;
    height: 330px;
    width: 100%;
    line-height: 4vh;
    font-size: 100%;
    box-shadow: 0 10px 15px #464646;
    z-index: 999;
}

.list { /* "." обозначается класс */
    padding: 370px 4%;
    /*box-shadow: 5px 0 20px 10px #464646 inset;*/
    z-index: 2;
}

#date_attendance,#grup{
    margin-left: 4%;
    margin-top: 4%;
    height: 100px;
    width: 80%;
    font-size: 40px;
    border-radius: 1vh;
    box-shadow: 5px 10px 30px #464646 inset;
}


.row,.row1 { /* "." обозначается класс */
    position: relative;
    background: #eeeeee;
    line-height: 6vh;
    font-size: 300%;
    margin: 2% 0;
    padding-left: 5%;
    border-radius: 1vh;
    box-shadow: 8px 8px 15px #464646;
    z-index: 3;
}


.first { /* "." обозначается класс */
    background: #eeeeee;
    /*position: absolute;*/
    height: 300px;
    width: 100%;
    font-size: 100%;
}

.last { /* "." обозначается класс */
    background: #eeeeee;
    /*position: absolute;*/
    /*padding: 3%;*/
    height: 50vh;
    width: 100%;
    font-size: 1%;
}

.ch_box {
    position: absolute;
    right: 1%;
    margin: 4%;
    height: 3vh;
    width: 3vh;
    box-shadow: 5px 10px 10px #464646 inset;
}

.payment_input {
    position: absolute;
    right: 1%;
    margin: 4%;
    line-height: 4vh;
    font-size: 100%;
    height: 3vh;
    width: 15vh;
    box-shadow: 5px 10px 10px #464646 inset;
}

.btn {
    position: fixed;
    background: #eeeeee;
    width: 16vh;
    height: 10vh;
    bottom: 100px;
    left: 30px;
    font-size: 400%;
    border-radius: 5vh;
    line-height: 10vh;
    color: #005CC8;
    text-align: center;
    box-shadow: 15px 15px 15px #464646;
    z-index: 5;
}

.btn2 {
    position: fixed;
    width: 16vh;
    height: 8vh;
    bottom: 100px;
    left: 30px;
    font-size: 500%;
    border-radius: 4vh;
    line-height: 8vh;
    color: #eeeeee;
    text-align: center;
    box-shadow: 25px 25px 25px #464646;
    z-index: 2;
}

#left { /* '#' обозначается id */
}

.footer {
    position: fixed;
    display: flex;
    bottom: 0;
    width: 100%;
    height: 10vh;
    justify-content: space-around;
    align-items: center;
    background: #eeeeee;
    box-shadow: 0 -10px 30px 10px #464646;
    z-index: 999;
}

.foot_btn {
    display: flex;
    width: 7vh;
    height: 7vh;
    justify-content: center;
    font-size: 300%;
    align-items: center;
    border-radius: 1vh;
    box-shadow: 3px -6px 15px 2px #464646;
    background: #eaeaea;
    /*background: #cd8776;*/
}

#payment_page {
    box-shadow: 0 0 100px 30px #0033ff;
    background: #ffffff;
    color: #005CC8;
}

#attendance_page {
    box-shadow: 0 0 100px 30px #00ff66;
    background: #ffffff;
    color: #00fd66;
}